@font-face {
  font-family: 'SuisseIntl';
  src: url("/public/font/SuisseIntl/SuisseIntl-SemiBold-WebS.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url("/public/font/SuisseIntl/SuisseIntl-Light.otf")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}